body {
   margin: 0;
   font-family: sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background: url("https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80") center;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
}

h2 {
   text-transform: uppercase;
   letter-spacing: 4px;
   font-size: 24px;
   text-align: center;
   color: white;
}

.clock {
   display: flex;

}

.clock div {
   margin: 5px;
   position: relative;
}

.clock span {
   width: 100px;
   height: 80px;
   background-color: slateblue;
   opacity: .8;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.clock .text {
   height: 30px;
   font-size: 17px;
   text-transform: uppercase;
   background-color: darkblue;
   opacity: .8;
}

.clock #amPm {
   position: absolute;
   bottom: 0;
   width: 50px;
   height: 30px;
   font-size: 20px;
   background-color: green;
}

#millisecond~span {
   font-size: 12px;
}