* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #dedede;
}

/*  HAMBURGER */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  border: 0;
  background-color: transparent;
  margin-top: 50px;
}

button:hover {
  cursor: pointer;
}

button span {
  border-radius: 10px;
  width: 30px;
  height: 2px;
  background-color: #333;

  transition: all 0.4s;
}

button.active span:nth-child(2) {
  opacity: 0;
  width: 2px;
}

button.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}
button.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -4px);
}
