body, ul, li, p {
   padding: 0;
   margin: 0;
   list-style-type: none;
   font-size: 1.2rem;
   font-family: Arial, Helvetica, sans-serif;
}

a {
   text-decoration: none;
   color: white;

}

.header {
   display: flex;
   justify-content: space-between;
   background-color: black;
   padding: 20px;
}

nav ul {
   display: flex;
}

nav ul li {
   margin-left: 20px;
}

h1 {
   text-align: center;
   margin-top: 50px;
}

.flex img {
   max-width: 100%;
   display: block;
}

.flex {
   display: flex;
   flex-wrap: wrap;
   max-width: 800px;
   margin: 0 auto;
   gap: 20px;
   justify-content: center;
   align-items: center;
}

.flex > div {
   flex: 1 1 200px;
}